MONGODB_URI=mongodb://suvayuchakrabortyvis_db_user:<db_password>@ac-kgfmqey-shard-00-00.umnubjn.mongodb.net:27017,ac-kgfmqey-shard-00-01.umnubjn.mongodb.net:27017,ac-kgfmqey-shard-00-02.umnubjn.mongodb.net:27017/?ssl=true&replicaSet=atlas-xja8aj-shard-0&authSource=admin&appName=Cluster0
PORT=5000
